@charset "utf-8";

@import url('fonts.css');

*,
*:after,
*:before{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body{
	width: 100%;
	min-height: 100%;
	height: 100%;
}

body{
	font-family: 'Effra-regular',  Arial, sans-serif;
	font-size:20px;
	line-height: 1.7;
	color:#000000;
	background-color:#282828;
}

a{
	text-decoration:none;
	outline: none;
	color: inherit;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

a:hover,
a:focus{
	outline: none;
}

a img{
	border:none;
	outline:none;
}

img{max-width:100%;}

ul,
ol{list-style:none;}

input,
textarea{
	width: 100%;
	height: 55px;
	line-height: 55px;
	font-family: 'Effra-regular';
 	font-size:16px;
 	color:#1a1b13;
 	padding:0 25px;
 	margin-bottom: 15px;
	border:none;
	outline:none;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

input,
select,
button{-webkit-appearance:none;}

label{display: inline-block;}

input[type="submit"]{
	display: block;
	width:100%;
	height: 60px;
	font-family: 'Effra-light';
	font-size: 20px;
	color:#ffffff;
	text-align: center;
	margin-top:20px;
	cursor: pointer;
	background: #282828;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

input[type="submit"]:hover,
input[type="submit"]:focus{color:#0a9abd;}

input[type="submit"]:active{
	-webkit-animation:Bounce .7s ease-in-out;
	animation:Bounce .7s ease-in-out;
}

textarea{
	resize:none;
	height: 220px;
	font-size: 20px;
	line-height: 25px;
	padding:15px;
	margin-top:30px;
	border:3px solid #282828;
}

input.error{background: url('../images/error.png') no-repeat 96% center !important;}
input.valid{background: url('../images/tick.png') no-repeat 96% center !important;}
textarea.error{background: url('../images/error.png') no-repeat 96% center #fefefe !important;}
textarea.valid{background: url('../images/tick.png') no-repeat 96% center #fefefe !important;}

a:active,
a:hover{outline: 0;}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Effra-regular';
	font-weight: normal;
	line-height: 1.3;
}

h1{font-size:65px;}
h2{font-size:50px;}
h3{font-size:40px;}
h4{font-size:30px;}
h5{font-size:28px;}
h6{font-size:23px;}

p{padding-top:50px;}

p a{color:#ffffff;}

strong{font-family: 'Effra-regular';}

table{
	width: 100%;
	border-collapse: collapse;
}

::-webkit-input-placeholder {
	font-family: 'Effra-regular';
    font-size:16px;
    color: #636363;
}

:-moz-placeholder {
    font-family: 'Effra-regular';
    font-size:16px;
    color: #636363;
}

::-moz-placeholder {
    font-family: 'Effra-regular';
    font-size:16px;
    color: #636363;
}

:-ms-input-placeholder {  
    font-family: 'Effra-regular';
    font-size:16px;
    color: #636363;
}

textarea::-webkit-input-placeholder{color:#c3c3c3;}

button{cursor: pointer;}

.bttn{
	display: inline-block !important;
	font-family: 'Effra-light';
	font-size: 16px;
	color:#ffffff;
	text-align: left;
	outline: none;
	cursor: pointer;
	margin: 20px 5px;
	padding: 5px 22px;
	border:2px solid #ffffff !important;
	border-radius: 4px;
}

.bttn.has-icon{
	padding-left: 45px;
	background-repeat: no-repeat;
	background-position: 15px center;
}

.bttn:hover{
	color:#0a9abd;
	background-color: #ffffff;
}

.bttn.bounce{
	-webkit-animation:Bounce .4s linear;
	animation:Bounce .4s linear;
}

.bttn.large{
	min-width: 0;
	font-size: 20px;
	padding:12px 25px;
	margin:0;
}

.bttn.site{
	color:#0a9abd;
	background-color: #ffffff;
}

.bttn.site:hover{
	color:#ffffff;
	background-color: #0a9abd;
	border-color:#0a9abd !important;
}

.bttn.site-2{
	min-width: 200px;
	color:#ffffff;
	text-align: center;
	padding:7px 20px;
	background-color: #0a9abd;
	border-color:#0a9abd !important;
}

.bttn.site-2:hover{
	background-color: #f55757;
	border-color:#f55757 !important;
}

@keyframes Bounce{
	0%{transform: scale3d(.9, .9, .9);}
	33%{transform: scale3d(1, 1, 1);}
	66%{transform: scale3d(.95, .95, .95);}
	100%{transform: scale3d(1, 1, 1);}
}

.clearFix{
	height:0;
	clear:both;
	visibility:hidden;
	display:block;
}

.clearFixAfter::after{
	content:'';
	display: table;
	height: 0;
	visibility: hidden;
	opacity: 0;
	clear:both;
}

.frame{
	max-width:1082px;
	margin:auto;
	padding:0 10px;
}

#wrapper{
	min-width: 320px;
	width:100%;
	height: 100%;
}

.field-wrapper{
	width: 100%;
	overflow: hidden;
}

.center-aligned{text-align: center;}

.left-aligned{text-align: left;}

.right-aligned{text-align: right;}

.justified{text-align: justify;}

.uppercased{text-transform: uppercase;}

.has-padding{padding:20px;}

.has-top-padding{padding-top:20px;}

.has-bot-padding{padding-bottom:20px;}

.has-left-padding{padding-left:20px;}

.has-right-padding{padding-right:40px;}

.has-large-right-padding{padding-right:60px;}

.font-size-large{font-size: ;}

.font-size-medium{font-size: ;}

.font-size-small{font-size: ;}

.site-color{color:#0a9abd !important;}

.site-color-2{color:#f55757 !important;}

.white-color{color:#ffffff;}

.black-color{color:#000000;}

.medium-font{font-family: 'Effra-medium';}

.bold-font{font-family: 'Effra-bold';}

.light-font{font-family: 'Effra-light';}

.full-box{
	width: 100%;
	overflow: hidden;
}

.half-box{
	float: left;
	width: 45%;
	overflow: hidden;
}

.half-half-box{
	float: left;
	width: 25%;
	overflow: hidden;
}

.half-size{
	max-width: 55%;
	margin:auto;
}

.one-three{
	float: left;
	width: 20%;
	overflow: hidden;
}

.two-three{
	float: left;
	width: 60%;
	overflow: hidden;
}

#map_canvas{
	position: absolute !important;
	top:0;
	left:0;
	width:100%;
	height:600px;
	position: relative;
}

#map_canvas img{
	max-width:none!important;
	background:none!important
}

.svg-element{display: none;}

.cart{background-image: url('../images/icons/cart.png');}
.cart:hover{background-image: url('../images/icons/cart-blue.png');}
.projects{background-image: url('../images/icons/projects.png');}
.projects:hover{background-image: url('../images/icons/projects-blue.png');}
.web{background-image: url('../images/icons/web.png');}
.web:hover{background-image: url('../images/icons/web-blue.png');}
.read-more{background-image: url('../images/icons/read-more.png');}
.read-more:hover{background-image: url('../images/icons/read-more-blue.png');}
.home-icon{background-image: url('../images/icons/home-icon.png');}
.web-icon{background-image: url('../images/icons/web-icon.png');}

