/****************************************************************************************************

***********************************************  INDEX.HTML  ****************************************

*****************************************************************************************************/

/*****       Main       *****/

#Home{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.hidden{display: none !important;}

.banner{
	display: table;
	width: 100%;
	height: 100%;
	background: url('../images/banner.jpg') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
}

.inner-banner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-bottom: 105px;
}

.inner-banner h1{
	font-family: 'Effra-light';
	color:#fefefe;
	text-shadow:0 0 12px #181818;
}

.button-holder{
	position: relative;
	margin-top:30px;
}

.button-holder .bttn{
	min-width: 165px;
	margin:20px 12px;
}

.button-holder .Arrow{
	bottom:0;
	background-image: url('../images/assets/arrow-top.png');
}

.menu {
	position: fixed;
	top:0;
	right:0;
	width: 150px;
  	height: 150px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
	z-index: 999999999;
}

.pagination-navigation {
	position: relative;
	font-size: 0;
	text-align: center;
	margin-top:25px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
}

.Arrow{
	position: absolute;
	bottom:40px;
	left:50%;
	display: block;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	background: url('../images/assets/arrow-bottom.png') no-repeat center;
	z-index: 9999;
	-webkit-animation:arrowUpDown 3s ease-in-out alternate infinite;
    animation:arrowUpDown 3s ease-in-out alternate infinite;
}

@keyframes arrowUpDown{
	0%{transform: translateY(0);opacity: 1;}
	20%{transform: translateY(-10px);opacity: .5;}
	40%{transform: translateY(0);opacity: 1;}
}

@-webkit-keyframes arrowUpDown{
	0%{-webkit-transform: translateY(0);opacity: 1;}
	20%{-webkit-transform: translateY(-10px);opacity: .5;}
	40%{-webkit-transform: translateY(0);opacity: 1;}
}

.pagination-dots{margin-bottom:25px;}
.pagination-dot{
	width:24px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	font-size:12px;
	transition:transform .1s;
}

.pagination-dot.active{transform:scale(1.4,1.4) !important;}

.menu-items li button:hover{
	-webkit-box-shadow:0 0 3px #121212;
	-moz-box-shadow:0 0 3px #121212;
	box-shadow:0 0 3px #121212;
}

.has-shape{
	position: relative;
	padding:50px 0 130px 0;
}

.has-shape::before{
	content:'';
	position: absolute;
	top:-104px;
	left:0;
	width:100%;
	height: 105px;
	z-index: 1111;
}

.has-shape.shape-1::before{background: url('../images/shape-1.png') no-repeat center center;}
.has-shape.shape-2::before{background: url('../images/shape-2.png') no-repeat center center;}
.has-shape.shape-3::before{background: url('../images/shape-3.png') no-repeat center center;}
.has-shape.shape-4::before{background: url('../images/shape-4.png') no-repeat center center;}
.has-shape.shape-5::before{background: url('../images/shape-5.png') no-repeat center center;}
.has-shape.shape-3-revert::before{background: url('../images/shape-3-revert.png') no-repeat center center;top:0;}
.has-shape.shape-4-revert::before{background: url('../images/shape-4-revert.png') no-repeat center center;top:0;}

.has-slime::after{
	content:'';
	position: absolute;
	top:0;
	right: 50px;
	width: 200px;
	height: 189px;
	background: url('../images/slime-black.png') no-repeat center center;
	z-index: 1;
}

.has-slime-2::after{
	content:'';
	position: absolute;
	bottom:100px;
	left: 50px;
	width: 200px;
	height: 246px;
	background: url('../images/slime-2.png') no-repeat center center;
	z-index: 1;
}

.has-slime-3::after{
	content:'';
	position: absolute;
	bottom:150px;
	right: 50px;
	width: 150px;
	height: 158px;
	background: url('../images/slime-3-black.png') no-repeat center center;
	z-index: 1;
}

.section-title{
	position: relative;
	width:100%;
	overflow: hidden;
	margin-top:15px;
	z-index: 2;
}

.parallax{
	display: table;
	width: 100%;
  height: 680px;
  background-repeat: no-repeat;
  background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.parallax-layer{
	display: table-cell;
	vertical-align: middle;
	font-size: 55px;
	padding-top:150px;
	text-shadow:0 0 12px #121212;
}

.parallax-layer strong{font-family: 'Effra-light';}

#samanira{
	padding:80px 0 100px 0;
	background-color: #f1f1f1;
}

#samanira p{padding-top:22px;}

.samanira-main-logo{
  max-width: 200px;
  margin-top:8px;
}

#about-me{
	width:100%;
	background-color: #161616;
}

#about-me p,
#about-me p strong{
	font-family: 'Effra-light';
	line-height: 2.1;
}

#about-me p a{
	-webkit-transition:none;
	-moz-transition:none;
	transition:none;
}

#about-me p a.txt-teamtreehouse{color:#5fcf80;}
#about-me p a.txt-edoramedia{color:#c2196c;}
#about-me p a.txt-samanira{color:#0a9abd;}
#about-me p a.txt-samira{color:#f05758;}

#about-me p a.txt-teamtreehouse:hover{border-bottom:1px solid #5fcf80;}
#about-me p a.txt-edoramedia:hover{border-bottom:1px solid#c2196c;}
#about-me p a.txt-samanira:hover{border-bottom:1px solid#0a9abd;}
#about-me p a.txt-samira:hover{border-bottom:1px solid#f05758;}

#statistics{
	width:100%;
	padding-bottom: 0;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #161616;
}

.section-title h1{text-transform: uppercase;}

.section-title span{
	display: block;
	font-family: 'Effra-light';
	font-size: 25px;
	line-height: .9;
}

.white-color .section-title span{color:#fefefe;}

.saman{
	position: absolute;
	left:100px ;
	bottom:0;
}

.stat-box-wrapper{
	width: 100%;
	overflow: hidden;
	padding-top:40px;
}

.stat-box{
	float: left;
	width: 33.3333333333333%;
	text-align: center;
	padding:40px 0;
}

.stat-box strong{
	display: block;
	font-size: 40px;
	line-height: 1.5;
}

#Portfolio{
	width:100%;
	padding-bottom: 80px;
	background: #161616;
}

.inner-title{
	font-family: 'Effra-light';
	text-align: left;
	margin:60px 0;
}

.website-icon{
	padding-left: 45px;
	background: url('../images/icons/website.png') no-repeat left center;
}

.information-icon{
	padding-left: 40px;
	background: url('../images/icons/information.png') no-repeat left center;
}

.form-icon{
	padding-left: 35px;
	background: url('../images/icons/form.png') no-repeat left center;
}

.email-icon{
	padding-left: 28px;
	background: url('../images/icons/email.png') no-repeat left center;
}

.navigation-icon{
	padding-left: 28px;
	background: url('../images/icons/nav.png') no-repeat left center;
}

.mobile-icon{
	padding-left: 28px;
	background: url('../images/icons/mobile.png') no-repeat left center;
}

#grid li a{position: relative;}

.portfolio-layer {
	position: absolute;
	top:0;
	left:0;
    width: 100%;
    height: 100%;
    padding:7px;
    -webkit-animation:BounceOut .4s linear forwards;
    animation:BounceOut .4s linear forwards;
}

.portfolio-layer.hovered {
	-webkit-animation:BounceIn .4s linear forwards;
    animation:BounceIn .4s linear forwards;
}

@keyframes BounceIn{
	0%{transform: scale3d(1, 1, 1);opacity: 0;visibility: hidden;}
	50%{transform: scale3d(.97, .97, .97);opacity: 1;visibility: visible;}
	100%{transform: scale3d(1, 1, 1);opacity:1;visibility: visible;}
}

@-webkit-keyframes BounceIn{
	0%{-webkit-transform: scale3d(1, 1, 1);opacity: 0;visibility: hidden;}
	50%{-webkit-transform: scale3d(.97, .97, .97);opacity: 1;visibility: visible;}
	100%{-webkit-transform: scale3d(1, 1, 1);opacity:1;visibility: visible;}
}

@keyframes BounceOut{
	0%{transform: scale3d(1, 1, 1);opacity: 1;visibility: visible;}
	50%{transform: scale3d(.97, .97, .97);opacity: 1;visibility: visible;}
	100%{transform: scale3d(1, 1, 1);opacity:0;visibility: hidden;}
}

@-webkit-keyframes BounceOut{
	0%{-webkit-transform: scale3d(1, 1, 1);opacity: 1;visibility: visible;}
	50%{-webkit-transform: scale3d(.97, .97, .97);opacity: 1;visibility: visible;}
	100%{-webkit-transform: scale3d(1, 1, 1);opacity:0;visibility: hidden;}
}

.portfolio-layer a.close{
	display: none;
	position: absolute !important;
	top: 20px;
	right: 20px;
	width: 18px;
	height: 18px;
	background: url('../images/assets/close.png') no-repeat center center;
}

.portfolio-inner-layer{
	display: table;
	width: 100%;
	height: 100%;
	background: url('../images/slime-black.png') no-repeat -25px -25px rgba(24,114,176, .90);
}

.portfolio-layer.second-bg .portfolio-inner-layer{background: url('../images/slime-2-black.png') no-repeat center -25px rgba(24,114,176, .90);}
.portfolio-layer.third-bg .portfolio-inner-layer{background: url('../images/slime-3-black.png') no-repeat 95% 95% rgba(24,114,176, .90);}
.portfolio-layer.no-bg .portfolio-inner-layer{background: rgba(24,114,176, .90);}

.portfolio-layer-content{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	padding:10px 5px;
	text-align: center;
}

.portfolio-layer h4{font-family: 'Effra-light';}
.portfolio-layer p{
	font-family: 'Effra-light';
	font-size: 15px;
	line-height: 2;
	padding-top:12px;
}

#ContactMe{
	width:100%;
	background-color: #0a9abd;
}

.contact-form{position: relative;}

.thank-you{
	position: absolute;
	top:0;
	left:0;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100%;
	color:#ffffff;
	background: rgba(0,0,0, .95);
	z-index: 999;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

.thank-you.active{
	opacity: 1;
	visibility: visible;
}

.thank-you-box{
	display: table;
	width: 100%;
	height: 100%;
}

.thank-you h2{font-family: 'Effra-light';}
.thank-you p{
	font-family: 'Effra-light';
	padding-top:15px;
}

.thank-you.has-slime-2::after {
    top: 5px;
    left: 5px;
    width: 120px;
    height: 160px;
    background-size: 120px;
}

.thank-you-inner-box{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding:15px;
}

.contact-info{
	width: 100%;
	text-align: left;
	padding:20px 35px;
	margin-top:70px;
	border:3px dashed #161616;
}

.contact-info strong{display: inline-block;}

.contact-info a:hover{color:#fefefe;}

.contact-info ul li{margin:15px 0;}

.socials{margin-top:30px !important;}
.socials a:first-child{margin-left: 0;}

.social-icon{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin:0 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ffffff;
	border-radius: 3px;
}

.facebook{background-image: url('../images/icons/facebook.png');}
.linkedin{background-image: url('../images/icons/linkedin.png');}
.telegram{background-image: url('../images/icons/telegram.png');}
.github{background-image: url('../images/icons/github.png');}
.googleplus{background-image: url('../images/icons/googleplus.png');}
.instagram{background-image: url('../images/icons/instagram.png');}
.tumblr{background-image: url('../images/icons/tumblr.png');}
.twitter{background-image: url('../images/icons/twitter.png');}
.pinterest{background-image: url('../images/icons/pinterest.png');}
.soundcloud{background-image: url('../images/icons/soundcloud.png');}
.tripadvisor{background-image: url('../images/icons/tripadvisor.png');}

.facebook:hover{background-color: #3b5998;}
.linkedin:hover{background-color: #0077b5;}
.telegram:hover{background-color: #0088cc;}
.github:hover{background-color: #6cc644;}
.googleplus:hover{background-color: #d34836;}
.instagram:hover{background-color: #fccc63;}
.tumblr:hover{background-color: #34526f;}
.twitter:hover{background-color: #38A1F3;}
.pinterest:hover{background-color: #c8232c;}
.soundcloud:hover{background-color: #ff7700;}
.tripadvisor:hover{background-color: #00AF87;}

#footer{
	width: 100%;
	font-size: 17px;
	color:#bcbaba;
	padding:30px 0;
	background: #161616;
}

#footer .frame > a{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

#footer span a{color:#0a9abd;}

.samanira_secure{
	visibility: hidden !important;
	opacity: 0 !important;
	height: 0 !important;
	margin-bottom:0;
	border:none !important;
}

.schema-item{
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	visibility: hidden;
	opacity: 0;
}

.has-small-x-margin{margin:0 3px;}